/*draggable classes*/
.draggable.is-pointer-down {
    /*cursor: url(http://i.imgur.com/nu6VpKz.png), auto;*/
}

.draggable.is-dragging {
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/

}

/*.isnt-moving {
    cursor: url(http://i.imgur.com/nu6VpKz.png), auto;
}

.is-moving {
  cursor: url(http://i.imgur.com/K1v7Spq.png), auto;


}*/

* {
  transition: .2s;
}

html {
  top: 0px;
}




body {
  font-family: 'OCR A Std';
  font-weight: bolder;
  background: black no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: invert(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  top: 0px;

}

@media screen and (max-width: 1024px) {
  body{
    /*position: relative !important;*/
  }
}



}

#loft {
  width: 100% !important;

}


.webTitle {

  top: 67px;
  left: 600px;
  line-height: 10px;

}

.container-full {
  /*cursor: url(http://i.imgur.com/nu6VpKz.png), auto;*/
  width:100%
  height:auto;
}
.container-full > a {
  /*cursor: url(http://i.imgur.com/nu6VpKz.png), auto;*/
  width:100%
  height:auto;
}

a {
    color: black;
    text-decoration: none;
    /*position: relative !important;*/
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
    position: relative !important;
}


ul {
  top: 90px;
  position: fixed;
  font-size: 16px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
}

.toolTips {
  position: absolute;
top: 466px;
left: 69px;
font-size: 12px;
transition: 2s;
opacity: 1;


}

#info {
top: 441px;
left: 34px;
height: 45px;
width: 32px;
}
#closeInfo {
top: 422px;
left: 44px;
height: 80px;
width: 80px;
}

#web {
  left: 1004px;
  top: 120px;


}
#web:hover {
  left: 1004px;
  top: 120px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/

}


#draggable-1 {
     width: 100px; height: 50px; padding: 0.5em;
     margin: 22px 5px 10px 0;
   }
   #droppable-1 {
      width: 120px; height: 90px;padding: 0.5em;
     margin: 10px;
   }

#cursor_normal {
  top: 199px;
  left: 500px;
}

#plant1_transp {
  top: 196px;
  left: 1178px;
}
#plant1_transp:hover {
  top: 196px;
  left: 1178px;
}
#plant2_transp {
  top: 333px;
  left: 520px;
}
#plant2_transp:hover {
  top: 333px;
  left: 520px;
}
#fridge_transp {
  top: 328px;
  left: 575px;
}
#food {
  top: 368px;
  left: 673px;
}
#draftingtable_transp {
  top: 768px;
  left: 992px;
}

#djtable_transparent {
  top: 574px;
  left: 574px;
}

#turntables_transp {
  top: 594px;
  left: 602px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/
}

#record1 {
  top: 746px;
  left: 543px;
}
#record2 {
  top: 735px;
  left: 556px;
}


#carpet {
  top: 696px;
  left: 659px;
}
#design {
  top: 597px;
  left: 993px;

}
#design:hover {
  top: 597px;
  left: 993px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/
}
#music {
  top: 808px;
  left: 457px;
}
#music:hover {
  top: 808px;
  left: 457px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/

}
#couch {
  top: 521px;
  left: 430px;
}
#bed {
  top: 808px;
  left: 157px;
}
#ashtray {
  top: 890px;
  left: 172px;
}
#ashtray:hover {
  top: 890px;
  left: 172px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/

}
#lamp {
  top: 730px;
  left: 1094px;
}
#lamp:hover {
  top: 730px;
  left: 1094px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/

}
#personal {
  top: 461px;
  left: 305px;
}
#personal:hover {
  top: 461px;
  left: 305px;
  /*cursor: url(http://i.imgur.com/K1v7Spq.png), auto;*/
}

.contact {

  font-size: 12px;
}


section {
  float: left;
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.horizon-prev {
  position: fixed;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;

}

.horizon-next{

  position: fixed;
  top: 50%;
  left: 1222px;
  margin-top: -24px;
  z-index: 9999;
}

.webSec h1 {
padding-left: 42px;
}

.designSec h1 {
  padding-left: 42px;

}

.musicSec h1 {
  padding-left: 42px;

}

.personalSec h1 {

  padding-left: 42px;

}

.backToHome{
    padding-left: 42px;
}
